/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 
 */

@import "bootstrap";
@import "social-share-button";


h1, h2, a {
	color: #ff00bf;
	font-family: "Helvetica Neue", "HelveticaNeue-Light", "Helvetica Neue Light", Helvetica, Arial, "Lucida Grande", sans-serif;
}

a:hover {
	text-decoration: none;
	background-color: #ff00bf;
	color: white
}

body {
	background-color: #ebebeb;
}

.col1 {
	border: 1px solid purple;
	background-color: white;
	padding-bottom: 20px;
}

.col3 {
	border: 1px solid blue;
	background-color: green;
}

.col3 {
	border: 1px solid tan;
	background-color: yellow;
}

img {
 
    display: block;
    margin: 0 auto;
    max-height: 100%;
    max-width: 100%;
}

.test { 
  background: image_url('autumn_cobain.jpg') no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

@media only screen and (min-width: 768px) {
    /* tablets and desktop */
	.content {
 		width: 50%;
		margin-top: 10px;
		background-color: white;
	}
  }

.content {
	padding-top: 20px;
	padding-bottom: 20px;
	margin-top: 10px;
	background-color: white;
	-moz-box-shadow: 0 0 10px rgba(0,0,0,.9);
    -webkit-box-shadow: 0 0 10px rgba(0,0,0,.9);
    box-shadow: 0 0 15px rgba(0,0,0,.5);
}

.navbar-brand {
	color: #ff00bf !important;
}

iframe {
    display:block;
    width:100%;
}
